body {
    background-color: #d2b48c;
    color: #333;
    padding: 20px;
    width: fit-content;
    margin: auto;
    font-family: "Winky Rough", sans-serif;;
}

header {
    background-color: #612c0049;
    padding: 20px;
    border-radius:10px 10px 0 0;
}

.navLink {
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    background-color: #612c002d;
    font-size: 18px;
    margin-left: 180px;
}

main {
    background-color: #612c002a;
    padding: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: "Tagesschrift", system-ui;
}

h2 {
    text-align: center;
    font-size: 40px;
    border-radius: 8px;
    padding: 10px;
    border-color: #612c002d;
    border-style: groove;
    background-color: #d2b48c79;
    font-family: "Tagesschrift", system-ui;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

article {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.divTexto {
    text-align: justify;
    margin: 10px;
    padding: 5px;
    margin-right: 20px;
}

.articleDisplay {
    display: flex;
}

img {
    height: auto;
    width: 400px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
}

ul {
    color: #33333300;
}

li {
    margin-bottom: 8px;
}

footer {
    background-color: #612c0049;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.textoFooter {
    font-size: 25px;
}